header {
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: rgb(36, 35, 35);
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.button {
    display: block;
    background-color: white;
    color: black;
    border: 2px solid grey;
    margin-top: 15px;
    margin-left: 15px;
}

.red{
    background-color:rgb(233, 29, 29);
    color: white;
}

.green{
    background-color: green;
    color:white;
}

.yellow{
    background-color: yellow;
    color: black;
}

.orange{
    background-color: orange;
    color: black;
}
.purple{
    background-color: rgb(128, 57, 128);
    color: white;
}

.hide{
    display: none;
}